body {
    font-family: 'Staatliches', cursive;
    color: #373737;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
p {
    margin-top: 15px;
}
/*////////////*/
/*GAME DISPLAY*/
/*////////////*/
#game-screen {
    min-height: 100vh;
    background: url(style_images/bs_game.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    animation: fadein1 2s;
}
.game-container {
    padding: 30px;
    max-width: 1080px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    box-shadow: 0 0 10px 0 rgba(128,128,128,1);
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: minmax(100px, auto);
    animation: fadein1 2s;
}
#feature1 {
    grid-column: 1;
    grid-row: 1;
}
#feature2 {
    grid-column: 1;
    grid-row: 2;
}
#feature3 {
    grid-column: 1;
    grid-row: 3;
}
#feature4 {
    grid-column: 2;
    grid-row: 1;
}
#feature5 {
    grid-column: 2;
    grid-row: 2;
}
#feature6 {
    grid-column: 2;
    grid-row: 3;
}
/*///////*/
/*BUTTONS*/
/*///////*/
.square-opponent {
    display: inline-block;
    justify-content: center;
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.75);
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.75);
    width: 30px;
    height: 30px;
    margin: -8px 3px;
    background-color: whitesmoke;
    color: #373737;
    border-style: solid;
    border-width: 0;
    float: right;
}
.square-player {
    display: inline-block;
    justify-content: center;
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.75);
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.75);
    width: 30px;
    height: 30px;
    margin: -8px 3px;
    background-color: whitesmoke;
    color: #373737;
    border-style: solid;
    border-width: 0;
    float: right;
}
.square-player:hover {
    background-color: lightblue;
    animation: fadein 1s;
}
button:focus {
    transition: 0.4s;
    outline: 0;
    opacity: 1;
}
.white {
    color: whitesmoke;
}
.black {
    color: black;
}
.fas.fa-times.fa-lg {
    margin-top: 5px;
    margin-left: -1px;
}
.far.fa-circle.fa-lg {
    margin-top: 5px;
    margin-left: -1px;
}
.fas.fa-square-full {
    animation: fadein 1s;
    margin-top: 5px;
}
/*//////////*/
/*RIGHT SIDE*/
/*//////////*/
#player-board {
    box-shadow: -6px 0 6px -4px rgba( 128, 128, 128, .8 ), 6px 0 6px -4px rgba( 128, 128, 128, .8 ), 0 -6px 6px -4px rgba( 128, 128, 128, .8 );
    border-width: 0;
    border-color: transparent;
    display: inline-block;
    padding: 20px 16px;
}
#turn-display {
    box-shadow: -6px 0 5px -4px rgba( 128, 128, 128, .8 ), 6px 0 5px -4px rgba( 128, 128, 128, .8 );
    width: 405px;
    height: 80px;
    padding: 0 10px;
    display: inline-block;
    color: #373737;
    text-align: center;
}
#opponent-board {
    box-shadow: 3px 5px 5px -1px rgba( 128, 128, 128, .8 ), -3px 5px 5px -1px rgba( 128, 128, 128, .8 );
    display: inline-block;
    padding: 20px 16px 10px 16px;
    margin-top: -41px;
}
#turn-display-text1 {
    animation: fadein1 1s;
    display: inline-block;
    cursor: default;
    margin-top: 17px;
}
#turn-display-text2 {
    animation: fadein2 1s;
    display: inline-block;
    cursor: default;
    margin-top: 17px;
}
#flag-left {
    margin-bottom: 15px;
    margin-right: 20px;
    width: 20%;
    display: inline-block;
    animation: fadein1 2s;
    box-shadow: 0 0 10px 0 rgba(128,128,128,1);
    border-radius: 15%;
}
#flag-right {
    margin-bottom: 15px;
    margin-left: 20px;
    width: 20%;
    display: inline-block;
    animation: fadein1 2s;
    box-shadow: 0 0 10px 0 rgba(128,128,128,1);
    border-radius: 15%;
}
@keyframes fadein1 {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes fadein2 {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
/*/////////*/
/*LEFT SIDE*/
/*/////////*/
#log-window {
    box-shadow: 0 1px 8px 1px rgba(128,128,128,1);
    padding: 10px 10px;
    margin-right: 30px;
    width: 500px;
    height: 360px;
    background-color: white;
    display: inline-block;
}
#status-window {
    box-shadow: 0 1px 8px 1px rgba(128,128,128,1);
    padding: 10px 10px;
    margin-top: -40px;
    width: 500px;
    height: 160px;
    background-color: white;
    display: inline-block;
}
#chat-window {
    box-shadow: 0 1px 8px 1px rgba(128,128,128,1);
    padding: 10px 10px;
    margin-top: 60px;
    width: 500px;
    height: 350px;
    background-color: white;
    display: inline-block;
}
/*/////////////*/
/*BOARD LETTERS*/
/*/////////////*/
.boardLetters {
    margin-left: 14px;
    margin-right: 15px;
    cursor: default;
    font-weight: bold;
}
#boardEmptyLetter {
    margin-right: 5px;
    color: transparent;
    cursor: default;
}
.boardNumbers {
    cursor: default;
    font-weight: bold;
}
/*///////////////////*/
/*TURN DISPLAY COLORS*/
/*///////////////////*/
.playerTurn {
    animation: colorChangePlayer 2s;
    background-color: lightblue;
}
.notMyTurn {
    background-color: white;
}
.opponentTurn {
    animation: colorChangeOpponent 2s;
    background-color: #ff8888;
}
@keyframes colorChangePlayer {
    0%   {background: white;}
    100% {background: lightblue;}
}
@keyframes colorChangeOpponent {
    0%   {background: white;}
    100% {background: #ff8888;}
}
.fa-times,
.fa-circle {
    margin-top: 2px;
    animation: fadein1 1s;
}
/*//////////*/
/*LOG WINDOW*/
/*//////////*/
.log-message {
    font-size: 25px;
    cursor: default;
    border-radius: 5px;
    padding: 3px 0 0 5px;
    width: 255px;
}
#log-m-blue {
    background-color: lightblue;
    box-shadow: 0 0 5px 1px rgba(173,216,230,1);
}
#log-m-red {
    background-color: #ff8888;
    box-shadow: 0 0 5px 1px rgba(255,136,136,1);
}
#log-messages p {
    opacity: 0.2;
}
#log-messages p + p {
    opacity: 0.4;
}
#log-messages p + p + p {
    opacity: 0.6;
}
#log-messages p + p + p + p {
    opacity: 0.8;
}
#log-messages p + p + p + p + p {
    opacity: 1;
}
#chat-title,
#status-title,
#log-title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    cursor: default;
}
.dummy-p {
    background-color: transparent;
    color: transparent;
    cursor: default;
    margin-top: 30px;
}
/*/////////////*/
/*STATUS WINDOW*/
/*/////////////*/
#status-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: minmax(100px, auto);
}
#status-player {
    width: 250px;
    height: 80px;
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: minmax(20px, auto);
}
#status-opponent {
    width: 250px;
    height: 80px;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: minmax(20px, auto);
}
.status-flag {
    margin: 0 50px -5px 50px;
    width: 10%;
    display: inline-block;
    box-shadow: 0 0 7px 0 rgba(128,128,128,1);
    border-radius: 13%;
}
.text-crossed {
    text-decoration: line-through;
}
.player-status-numbers {
    cursor: default;
    font-size: 18px;
    margin-bottom: -10px;
    margin-left: -5px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: lightblue;
    box-shadow: 0 0 5px 1px rgba(173,216,230,1);
    width: 100px;
    padding: 3px;
}
.opponent-status-numbers {
    cursor: default;
    font-size: 18px;
    margin-bottom: -10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #ff8888;
    box-shadow: 0 0 5px 1px rgba(255,136,136,1);
    width: 100px;
    padding: 3px;
}
#player-status-id1{
    text-align: center;
    margin-left: 5px;
    grid-column: 1;
    grid-row: 1;
}
#player-status-id2{
    text-align: center;
    margin-left: 5px;
    grid-column: 1;
    grid-row: 2;
}
#player-status-id3{
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}
#player-status-id4{
    text-align: center;
    grid-column: 2;
    grid-row: 2;
}
#opponent-status-id1{
    text-align: center;
    margin-left: 10px;
    grid-column: 1;
    grid-row: 1;
}
#opponent-status-id2{
    text-align: center;
    margin-left: 10px;
    grid-column: 1;
    grid-row: 2;
}
#opponent-status-id3{
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}
#opponent-status-id4{
    text-align: center;
    grid-column: 2;
    grid-row: 2;
}
/*///////////////////*/
/*REGISTRATION SCREEN*/
/*///////////////////*/
#registration-screen {
    min-height: 100vh;
    background: url(style_images/bs1-firing.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#registration-container {
    background-color: white;
    box-shadow: 0 0 7px 1px rgba(128,128,128,1);
    padding: 50px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#registration-form {
    padding-left: 25px;
}
/*TITLE*/
#registration-title {
    font-size: 45px;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 10px;
    cursor: default;
}
/*INPUT*/
#registration-input-active {
    font-family: 'Staatliches', cursive;
    margin-top: 5px;
    margin-left: 10px;
    padding: 18px;
    width: 300px;
    font-size: 25px;
    color: #353535;
    font-weight: bold;
    border-radius: 5px;
    border:1px solid cornflowerblue;
    background-color: transparent;
}
#registration-input-disabled {
    font-family: 'Staatliches', cursive;
    margin-top: 5px;
    margin-left: 10px;
    padding: 18px;
    width: 300px;
    font-size: 25px;
    color: grey;
    font-weight: bold;
    border-radius: 5px;
    border:1px solid grey;
    background-color: transparent;
}
#registration-input-disabled:focus,
#registration-input-active:focus {
    outline: 0;
}
/*BUTTON*/
#registration-button-active {
    font-family: 'Staatliches', cursive;
    margin-top: 5px;
    margin-left: 10px;
    padding: 18px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    color: cornflowerblue;
    border:1px solid cornflowerblue;
    background-color: transparent;
}
#registration-button-disabled {
    font-family: 'Staatliches', cursive;
    margin-top: 5px;
    margin-left: 10px;
    padding: 18px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    color: grey;
    border:1px solid grey;
    background-color: transparent;
}
#registration-button-disabled:focus {
    outline: 0;
}
#registration-button-disabled:hover {
    cursor: default;
}
#registration-button-active:hover {
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}
#registration-button-active:focus {
    outline: 0;
}
/*////////////*/
/*LOBBY SCREEN*/
/*////////////*/
#lobby-screen {
    min-height: 100vh;
    background: url(style_images/bs2-firing.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#lobby-container {
    background-color: white;
    box-shadow: 0 0 7px 1px rgba(128,128,128,1);
    padding: 20px 50px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.lobby-player-name {
    cursor: default;
    font-size: 35px;
    padding: 0 5px;
    margin-bottom: 10px;
}
#lobby-player-names {
    text-align: right;
}
#lobby-player-count {
    cursor: default;
    text-align: right;
    font-size: 40px;
}
.lobby-challenge-button {
    font-family: 'Staatliches', cursive;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: cornflowerblue;
    border:1px solid cornflowerblue;
    background-color: transparent;
}
.lobby-challenge-button:hover {
    background-color: cornflowerblue;
    border-color: transparent;
    color: white;
    cursor: pointer;
}
.lobby-challenge-button:focus {
    outline: 0;
    border-color: transparent;
    background-color: transparent;
}
/*///////////*/
/*CHAT WINDOW*/
/*///////////*/
.chat-p {
    background-color: transparent;
    color: transparent;
    cursor: default;
    font-size: 25px;
    margin: 10px 0;
}
.chat-message-player {
    cursor: default;
    padding: 3px;
    margin: 11px 10px;
    text-align: right;
    font-size: 20px;
}
.chat-player-name {
    border-radius: 5px;
    padding: 5px;
    background-color: lightblue;
    box-shadow: 0 0 5px 1px rgba(173,216,230,1);
}
.chat-message-opponent {
    cursor: default;
    padding: 3px;
    margin: 11px 10px;
    font-size: 20px;
}
.chat-opponent-name {
    padding: 5px;
    border-radius: 5px;
    background-color: #ff8888;
    box-shadow: 0 0 5px 1px rgba(255,136,136,1);
}
#chat-text-area-active {
    border-radius: 5px;
    width: 393px;
    height: 32px;
    border:1px solid cornflowerblue;
    box-shadow: 0 0 2px 1px rgba(100, 149, 237, 1);
}
#chat-text-area-disabled {
    border-radius: 5px;
    width: 393px;
    height: 32px;
    box-shadow: 0 0 2px 1px rgba(128, 128, 128, 1);
}
#chat-button-active {
    margin-left: 15px;
    font-family: 'Staatliches', cursive;
    padding: 0 15px;
    font-size: 20px;
    border-radius: 5px;
    color: cornflowerblue;
    border:1px solid cornflowerblue;
    background-color: transparent;
    box-shadow: 0 0 2px 1px rgba(100, 149, 237, 1);
}
#chat-button-active:hover {
    background-color: cornflowerblue;
    color: white;
}
#chat-messages {
    background-color: whitesmoke;
    box-shadow: inset 0 0 3px 1px rgba(128, 128, 128, 1);
    padding: 5px 0 5px 0;
    margin-bottom: 5px;
}
#chat-button-disabled {
    cursor: default;
    margin-left: 15px;
    font-family: 'Staatliches', cursive;
    padding: 0 15px;
    font-size: 20px;
    border-radius: 5px;
    color: grey;
    border:1px solid grey;
    background-color: transparent;
    box-shadow: 0 0 2px 1px rgba(128, 128, 128, 1);
}
#chat-button-disabled:focus,
#chat-button-active:focus,
#chat-text-area-active:focus,
#chat-text-area-disabled:focus {
    outline: 0;
}
#game-won-pic {
    width: 350px;
    margin-left: 60px;
}
#game-won-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: default;
}