body {
  margin: 0;
  font-family: 'Staatliches', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.square {
    display: inline-block;
    justify-content: center;
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.75);
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.75);
    width: 30px;
    height: 30px;
    margin: -8px 3px;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 0;
}
button:focus {
    outline: 0;
}
.white {
    color: white;
}
.black {
    color: black;
    font-weight: bold;
}
#opponent-board {
  display: inline-block;
  padding: 10px;
  background-color: lightcoral;
  border-radius: 15px;
}
#player-board {
  display: inline-block;
  padding: 10px;
  background-color: lightblue;
  border-radius: 15px;
}
/*html {*/
/*  background:  url(http://upload.wikimedia.org/wikipedia/commons/d/dd/Muybridge_race_horse_animated.gif) no-repeat center center fixed;*/
/*  background-size: cover;*/
/*}*/